{% load static %}   <!--also mentioned after the title-->

<html>

<head>
    <title>Django Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href = "{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <header>

        <h1><a href="{% url 'home' %}">Django( Header area )</a></h1>
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>