{% extends 'base.html' %}


{% block content %}
    {% for post in object_list %}   <!--will show the posts you created by clicking on add Post-->
    <div class="post-entry"></div>
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>  
        <p>{{ post.body }}</p>
    </div>
    {% endfor %}
{% endblock content %}

<!--<a href = "">{{ something }}</a>   this will make it appear as link-->